html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




.body{
    font-size: 18px;
    color: #161616;
    background: #D8D8D6;
}

.figma-wrapper{
display: flex;
flex-direction: column;
min-height: 100%;
background: #D8D8D6;
}

.figma-header{
    background: #81A36B;
    padding: 25px 0px;
    position: fixed;
    min-width: 1440px;
}

.figma-container{
max-width: 1110px;
margin: 0 auto;
padding: 0 5px;
}

.figma-header a{
text-decoration: none;
color: #161616;
line-height: 30 px;
}

.figma-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.figma-header-logo{
font-size: 36px;
}

.figma-header-list{
    display: flex;
    justify-content: space-between;
    width: 800px;
}

.figma-block-1{
    display: flex;
    flex-direction: row;
    margin: 0 165px;
    align-items: center;
}
.figma-title {
    font-size: 62px;
    padding-bottom: 60px;
}

.figma-block-1-text{
    text-align: justify;
    padding: 0px 20px 0px 0px;
    line-height: 164%;
}

.figma-img{
    width: 540px;
    height: 670px;
}

.figma-block-1-button{
    display: flex;
    gap: 30px;
    margin: 40px 0px 0px 0px;
}

.figma-button{
    width: 190px;
    height: 60px;
    border: 1px solid #81A36B;
    color: #161616;
    background: #D8D8D6;
    cursor: pointer;
    margin-right: 20px;
}



.figma-button:hover {
  background-color: #81A36B;
  opacity: 1;
  transform: translateY(0);
}

.figma-about-us{
    display: flex;
    width: 540px;
    height: 330px;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
}

.figma-about-us h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    margin-bottom: 60px;
}

.figma-about-us p{
    line-height: 164%;
    text-align: center;
}
.figma-block-2{
    height: 282px;
    background: #81A36B;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    padding-left: 40px;
    padding-right: 40px;
}
.figma-img-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.figma-block-3{
    display: flex;
    flex-direction: row;
    margin: 140px 165px;
    align-items: center;
}
.figma-img-vase{
    width: 539px;
    height: 560px;
}
.figma-title-2{
    font-size: 32px;
    text-align: center;
}
.figma-block-2-text{
    text-align: justify;
    padding: 0px 20px 0px 0px;
    line-height: 164%;
    padding: 60px 0px 0px 20px;
    width: 540px;
}

.figma-card{
    background: #81A36B;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 510px;
    padding: 10px 0px 0px 0px;
}

.figma-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.figma-card-caption{
text-align: center;
padding-bottom: 40px;
}
.figma-title-3{
    font-size: 32px;
    text-align: center;
    margin-bottom: 80px;
}

.figma-footer{
    height: 390px;
    background: #81A36B;
    margin-top: 80px;
}

.figma-img-icons{
    width: 113.542px;
    height: 24px;
}

.figma-footer{
    max-height: 390px;
}
.figma-footer-data{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 300px;
    padding-top: 60px;
}

.figma-footer-data li{
    padding: 20px;
}

.figma-footer-logo{
    font-size: 36px;
}

.figma-footer-date{
    text-align: center;
}
.figma-img-icon{
    width: 113.542px;
    height: 24px;
}

.figma-footer-contacts li:first-child{
    font-size: 24px;
}

.figma-icons li:first-child{
    font-size: 24px;
}

.figma-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:1380px){
    .figma-header-list{
        width: 600px;
        gap: 5px;
    }
    .figma-header-container {
        gap: 10px;
    }
    .figma-container{
        max-width: 900px;
        margin: 0 10px;
        padding: 0 5px;
        }
     .figma-header-logo{
        font-size: 26px;
        }
     .figma-header a{
        line-height: 20 px;
        align-items: center;
        }


    .figma-img{
       display: none;
    }
    .figma-title {
        font-size: 42px;
        padding-bottom: 40px;
        padding-top: 100px;
        text-align: center;
    }
    .figma-block-1{
        width: 500px;
        margin: 0 20px;
        text-align: center;

    }
    .figma-block-1-button{
        display: block;
        align-items: center;
    }
    .figma-about-us{
        width: 500px;
        height: 330px;
        flex-direction: column;
        margin: 0 20px;
    }
    .figma-block-2{
        height: fit-content;
        flex-wrap: wrap;
        gap: 5px;
        padding: 20px 30px;
    }
    .figma-img-vase{
        display: none;
    }
    .figma-title-2{
        font-size: 22px;
        text-align: center;
    }
    .figma-block-2-text{
        width: 500px;
        text-align: center;
    }
    .figma-block-3{
        margin: 0 20px;
        }
     .figma-title-3{
        margin: 40px auto;
     }


    .figma-footer-data{
        gap: 10px;
        flex-wrap: wrap;
        height: fit-content;
    }
    .figma-footer{
       padding: 10px;
    }

}


@media screen and (max-width:960px){
    .figma-cards{
        flex-direction: column;
        gap: 10px;
    }
    .figma-header-list{
        display: none;
    }
    .figma-block-1{
        margin: 0 auto;
    }
    .figma-about-us{
        margin: 0 auto;
    }
    .figma-block-3{
        margin: 20px;
    }
.figma-cards{
    align-items: center;
}
.figma-footer-data li{
font-size: 15px;
}
.figma-footer-data {
    padding: 10px;
}
.figma-footer{
    height: 300px;
}
}
@media screen and (max-width:960px){
    .figma-block-1{
      max-width: 300px;
  }

    .figma-about-us{
      max-width: 300px;
  }
    .figma-block-3 p{
     max-width: 300px;   
     padding: 10px;
}
.figma-block-3 {
    justify-content: center;
}

.figma-card img{
    display: none;
}
.figma-cards{
    width: 140px;
    height: 200px;
margin: 0 auto;
}

.figma-card{
    border-radius: 20px;
    height: 40px;
    padding-top: 0px;
}

.figma-card-caption{
padding: 5px;}

.figma-footer-logo{
    display: none;
}
.figma-footer {
    padding: 30px 0;
    height: 500px;
}

.figma-footer-logo {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
}

.figma-footer-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: auto;
}

.figma-footer-contacts li {
    font-size: 15px;
    text-align: center;
}

.figma-img-icon {
    width: 60px;
    height: 14px;
}

.figma-icons {
    font-size: 17px;
}
}
}
       
